<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ae.ae4.board.qna.QnaDAO">
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
  		SELECT * FROM
			(select ROWNUM R, Q.* FROM
				(select * from QNA
				where 
				<choose>
					<when test="kind=='title'">
						title
					</when>
					<when test="kind=='contents'">
						contents
					</when>
					<otherwise>
						writer
					</otherwise>
				</choose>
				
				like '%' || #{search}|| '%'
				order by REF DESC, STEP ASC)
			Q)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>

	<select id="getSelect"  parameterType="BoardDTO" resultType="QnaDTO" >
  		SELECT * FROM QNA WHERE NUM=#{num}
  	</select>
  
  	<insert id="setInsert" parameterType="BoardDTO">
  		INSERT INTO QNA(NUM, TITLE, CONTENTS, WRITER, REF, STEP, DEPTH)
  		VALUES(QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, QNA_SEQ.CURRVAL,0,0)
  	</insert>
  
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE QNA SET TITLE =#{title}, CONTENTS=#{contents}, WRITER=#{writer}, 
  		REGDATE=sysdate WHERE NUM=#{num}
  	</update>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		where 
				<choose>
					<when test="kind=='title'">
						title
					</when>
					<when test="kind=='contents'">
						contents
					</when>
					<otherwise>
						writer
					</otherwise>
				</choose>
				
				like '%' || #{search}|| '%'
		
	</select>
	
	<insert id="setReply" parameterType="QnaDTO">
		INSERT INTO QNA(NUM,TITLE,CONTENTS,WRITER,REGDATE,HITS, REF, STEP, DEPTH)
		VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0, #{ref}, #{step}, #{depth})
	</insert>

	<update id="setReplyUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP = step+1 where ref=#{ref} and step>#{step}
	</update>

	<update id="setHitUpdate" parameterType="BoardDTO">
		update qna set hits = hits+1 where num=#{num}
	</update>

  
  </mapper>